@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p class="mt-4">
        <a asp-controller="Car"
           asp-action="Index"
           class="btn btn-outline-black">
            Go to Cars
        </a>
    </p>

</div>